.space {
    padding-top: 5%;
    padding-bottom: 5%;
}

.loader {
    transition: opacity 0.75s, visibility 0.75s; 
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    
}

.loader-hidden { 
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #9CAA64;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}