
.listing-detials{
    background: #F9F6F2;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.room-img-div {
    margin: 0;
    padding: 0;
    width: 455px;
}

.room-img {
    margin: 0;
    padding: 0;
    width: 450px;
    height: 350px;
    border-radius: 10px;
    object-fit: fill;
    position: relative;
    top: 3px;
    left: 3px;
}

.name-location-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 700px;
}

/* .heart-icon-col {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; 
    height: 100%;
    align-items: center;
} */


/* .heart-icon{
    color: #1C3103;
    width: 45px;
    height: auto;
} */

/* .heart-button{
    color:white;
} */

.headings{
    color: #404040;
    font-family: 'Poppins';
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
}

.headings h1 {
    font-weight: bold;
}
.headings-price{
    font-family: 'Raleway';
    color: #1C3103;
    font-weight: bold;
}

.star-separator-capacity {
    color: #1C3103;
    font-weight: bold;
    text-decoration: underline;
}

.star-separator-capacity-text {
    color: #1C3103;
}

/* .room-buttons Button{
    color: #1C3103;
} */

.star-separator-capacity-div { width: 30em; max-width: 100%;}
.star-separator-capacity-div p { display: inline-block; padding: 5px; max-width: 50%;}
/* .two p:nth-child(1) { float:left; }
.two p:nth-child(2) { float:right; } */

