.apartment-carousel-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    justify-content: center;
    align-items: center;
}

.subtitle {
    width:80%;
    text-align: center;
}